// Optional: Import the default light color scheme as a base
// @import "./color_schemes/light";

// Override color variables
$link-color: #000000;
$btn-primary-color: #000000;
$btn-primary-border-color: #000000;
$btn-primary-hover-color: #222222;
$btn-primary-hover-border-color: #222222;
$body-heading-color: #000000;
$nav-list-link-active-color: #000000;
